.container {
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
}

/** Card */
.card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cardAvatar {
    width: 150px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.cardAvatarName{

}